
###> symfony/framework-bundle ###
/Backend/.env.local
/Backend/.env.local.php
/Backend/.env.*.local
/Backend/config/secrets/prod/prod.decrypt.private.php
/Backend/public/bundles/
/Backend/var/
/Backend/vendor/
/Backend/.env
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/Backend/.phpunit.result.cache
/Backend/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/Backend/phpunit.xml
/Backend/.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/Backend/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/Backend/.composer/
.DS_Store
DockerMariaDB/
/var/